<!DOCTYPE html>
<html>
<head>
	<!-- link to material design -->
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
	
	<!-- link to vuetify -->
	<link href="https://cdn.jsdelivr.net/npm/vuetify@3.1.11/dist/vuetify.min.css" rel="stylesheet"> 

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="app">
	<v-app>
	<v-main>
	<v-container>
		<v-card-title class="headline">Application Form</v-card-title>
		
		<v-form ref="myForm" method="post"     action="http://mercury.swin.edu.au/it000000/formtest.php">
			
			<v-text-field name="firstName" v-model="firstName"  :rules="nameRules" label="First Name"    >   </v-text-field>
			
			<v-text-field name="email" v-model="email" type="email"     :rules="emailRules" label="Email"   >   </v-text-field>
			
			<v-btn  type="submit" color="success"   >Submit</v-btn>  
		
	</v-form>
	</v-container>
	</v-main>
	</v-app>
	</div>

	<!-- link to vue -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	
	<!-- link to vuetify  -->
 	<script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.11/dist/vuetify.min.js"></script>
	
	<!-- link to your own js -->
	<script src="vuetify form.js"></script> 
</body> 
</html>
