.pagination {   /* style for the whole pagination  */
  display: inline;
  text-align: center;
}
 
.pagination a {  /* style for the anchor */
  color: black;
  border: 1px solid #ddd;  
  float: left;
  padding: 8px 16px;
  text-decoration: none;
   
} 
.currentPage a { 	  /* style to indicate the current page  */
  background-color:lightblue ;  
}
 